.gitattributes export-ignore
pyproject.toml export-ignore
/icons/*.svg export-ignore
/icons/convert.bat export-ignore
/icons/convert.bat -linguist-detectable
/img export-ignore
sublime-package.json linguist-language=jsonc
